<head>
  <nav class="c-nav">
    <ul>
      <li>
        <a class="logo" href="/">Agenda</a>
      </li>
      <li>
        <% if(user){ %>
          <a class="login-register" href="/login/logout">Sair</a>
        <% } else { %>
          <a class="login-register" href="/login/index">Logar / Cadastrar</a>
        <% } %>
      </li>
    </ul>
  </nav>
</head>