<%- include("./includes/head.ejs") %>
  <link rel="stylesheet" href="/assets/css/home.css">
  <link rel="stylesheet" href="/assets/css/contacts.css">
  <title>Home</title>
  </head>

  <body>
    <section class="c-container" data-container>

      <%- include("./includes/header") %>
      <h1>Home Page</h1>
      <main class="c-main">

        <div class="c-messages">
          <%- include("./includes/messages") %>
        </div>

        <div class="c-container__content">
          <%- include("./includes/show-contacts") %>
        </div>

      </main>
    </section>
  </body>

  </html>